@font-face {
    font-family: "RobotoRegular";
    src: url("./../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoMedium";
  src: url("./../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "QuicksandRegular";
  src: url("./../fonts/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "QuicksandMedium";
  src: url("./../fonts/Quicksand-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "QuicksandBold";
  src: url("./../fonts/Quicksand-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSansBold";
  src: url("./../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSansSemiBold";
  src: url("./../fonts/OpenSans-SemiBold.ttf") format("truetype");
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.header__container {
    padding: 19px 15px;
    max-width: 1205px;
}

.navbar {
    padding: 0;
}

.logo__link {
    margin-right: 75px;
}

@media screen and (max-width: 991px) {
    .logo__link {
        display: none;
    }
}

.menu__list-item {
    margin-right: 42px;
}

@media screen and (max-width: 991px) {
    .menu__list-item {
        margin: 0 0 10px;
    }
}

.menu__list-item:last-child {
    margin-right: 0px;
}

.menu__link {
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #697CA6;
    padding: 0;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #5E81FE;
}

@media screen and (max-width: 991px) {
    .header__block-right {
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .header__block-right {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.header__social,
.footer__social {
    margin-right: 45px;
}

.social__list {
    margin: 0;
}

@media screen and (max-width: 480px) {
    .social__list {
        margin-bottom: 20px;
    }
}

.social__list-item {
    margin-right: 35px;
}

.social__list-item:last-child {
    margin-right: 0;
}

.socials-icon {
    width: 9px;
    height: 17px;
    fill: #B6BAC7;
    transition: fill 500ms ease;
}

.socials-icon:hover {
    fill: #5E81FE;
}

.social__list-item:nth-child(2) .social__link .socials-icon {
    width: 15px;
    height: 13px;
}

.social__list-item:nth-child(3) .social__link .socials-icon {
    width: 18px;
    height: 14px;
}

.social__list-item:nth-child(4) .social__link .socials-icon {
    width: 17px;
    height: 14px;
}

.header__btn {
    width: 113px;
    height: 43px;
}

.play {
    background: url(.././images/headerContent/Ellipse1.png) left 20% no-repeat, url(.././images/headerContent/Ellipse2.png) 15% 10% no-repeat, url(.././images/headerContent/Ellipse3.png) 18% 60% no-repeat, url(.././images/headerContent/Ellipse4.png) 95% 5% no-repeat, url(.././images/headerContent/Ellipse5.png) right 68% no-repeat, url(.././images/headerContent/Ellipse6.png) 90% 80% no-repeat, linear-gradient(180deg, #e6ecfc 0%, #F1F5FF 100%);
}

.play__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.play__title {
    margin: 90px 0 15px;
}

@media screen and (max-width: 670px) {
    .play__title {
        margin: 50px 0 15px;
    }
}

.play__titleh1 {
    font-family: "QuicksandRegular", sans-serif;
    font-size: 48px;
    color: #3D4F9F;
    line-height: 60px;
    display: inline-block;
    margin-bottom: 25px;
}

.play__bold {
    font-family: "QuicksandMedium", sans-serif;
}

.play__text {
    font-family: "RobotoRegular", sans-serif;
    font-size: 15px;
    line-height: 29px;
    color: #ADB3CB;
    margin-bottom: 20px;
    max-width: 500px;
}

.play__btn {
    background: transparent;
    border: none;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
    transition: background-color 500ms ease;
}

.play__btn:hover {
    background-color: #e6e6e6;
}

.play__btn-icon {
    width: 10px;
    height: 11px;
    fill: #697CA6;
    transition: fill 500ms ease;
}

.play__btn-icon:hover {
    fill: #5E81FF;
}

.play__indicators {
    width: 10px !important;
    height: 10px !important;
    background-color: #387dff !important;
    border-radius: 50%;
}

.header__content .carousel-indicators {
    bottom: 20px;
}

@media screen and (max-width: 670px) {
    .header__content .carousel-indicators {
        bottom: -10px;
    }
}

.play__block {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 230px;
    margin-bottom: -230px;
}

@media screen and (max-width: 1140px) {
    .play__block {
        bottom: 170px;
        margin-bottom: -170px;
    }
}

@media screen and (max-width: 860px) {
    .play__block {
        bottom: 130px;
        margin-bottom: -130px;
    }
}

@media screen and (max-width: 670px) {
    .play__block {
        bottom: 70px;
        margin-bottom: -70px;
    }
}

.play__cicle {
    position: relative;
}

.play__cicle::after {
    content: "";
    background: #000;
    width: 92px;
    height: 68px;
    position: absolute;
    top: 0;
    left: 0;
}

.header__bottom-list {
    padding: 60px 0;
    margin: 0;
}

@media screen and (max-width: 760px) {
    .header__bottom-list {
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 20px 0;
    }
}

@media screen and (max-width: 760px) {
    .header__bottom-item {
        margin-bottom: 15px;
    }
}

.header__bottom-item:last-child {
    margin-bottom: 0;
}

.header__bottom-icon {
    fill: #B6BAC7;
    transition: fill 500ms ease;
}

.header__bottom-icon:hover {
    fill: #5E81FE;
}

.bitbucket {
    width: 116px;
    height: 29px;
}

.apple {
    width: 116px;
    height: 25px;
}

.facebookIcon {
    width: 116px;
    height: 22px;
}

.atlassain {
    width: 116px;
    height: 24px;
}

.audi {
    width: 116px;
    height: 29px;
}

.app {
    padding: 210px 0;
    background-color: #F5F8FF;
    background-image: url(./../images/app/illustration.png);
    background-repeat: no-repeat;
    background-position: 100% 130px;
}

@media screen and (max-width: 1380px) {
    .app {
        padding: 150px 0 600px;
        background-position: 50% 530px;
    }
}

@media screen and (max-width: 830px) {
    .app {
        padding: 100px 0 450px;
        background-size: 570px;
        background-position: 50% 450px;
    }
}

@media screen and (max-width: 580px) {
    .app {
        padding: 70px 0 420px;
        background-size: 500px;
        background-position: 50% 420px;
    }
}

@media screen and (max-width: 450px) {
    .app {
        padding-bottom: 300px;
        background-size: 350px;
        background-position: 50% 460px;
    }
}

@media screen and (max-width: 1380px) {
    .app__row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.app__slogan {
    font-family: "QuicksandRegular", sans-serif;
    font-size: 36px;
    color: #3D4F9F;
    line-height: 45px;
    display: inline-block;
    margin-bottom: 25px;
}

.slogan-bold {
    font-family: "QuicksandMedium", sans-serif;
}

.app__text {
    font-family: "RobotoRegular", sans-serif;
    font-size: 15px;
    line-height: 29px;
    color: #ADB3CB;
    margin-bottom: 45px;
}

.app__btn {
    width: 130px;
    height: 43px;
}

.btn--video {
    background-color: #4C85FF;
    color: #FFFFFF;
}

.btn--features {
    border: 1px solid #D1D1E4;
    color: #ADB4D2;
}

.about {
    padding: 175px 0;
    background: url(.././images/about/img1.svg) 91% 25% no-repeat, url(.././images/about/img2.svg) 19% 10% no-repeat, url(.././images/about/img3.svg) 9% 75% no-repeat;
}

@media screen and (max-width: 992px) {
    .about {
        padding: 100px 0;
    }
}

@media screen and (max-width: 768px) {
    .about {
        padding: 70px 0;
    }
}

.about__slogan {
    display: inline-block;
    margin-bottom: 90px;
}

.about__info {
    margin: 0 33px;
}

.about__subtitle {
    font-family: "OpenSansBold", sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #4074F8;
    margin: 33px 0 25px;
}

.about__text {
    font-family: "OpenSansSemiBold", sans-serif;
    font-size: 11px;
    line-height: 19px;
    color: #ADB3CB;
    margin-bottom: 33px;
}

.about__buttons {
    margin-top: 92px;
}

@media screen and (max-width: 768px) {
    .about__buttons {
        margin-top: 50px;
    }
}

@media screen and (max-width: 576px) {
    .about__buttons {
        margin-top: 30px;
    }
}

.about__bottons-inner {
    padding: 0;
}

.about__btn {
    width: 115px;
    height: 45px;
    border-radius: 2px;
}

.btn {
    font-family: "QuicksandBold";
    font-size: 13px;
    line-height: 16px;
}

.btn--red {
    background-color: #FFD7D7;
    color: #D43F3F;
}

.btn--blue {
    background-color: #D2E1FF;
    color: #3A79FF;
}

.text__betweem {
    position: relative;
    margin: 0 48px;
}

@media screen and (max-width: 400px) {
    .text__betweem {
        margin: 0 30px;
    }
}

.text__betweem::after {
    content: "";
    width: 15px;
    height: 1px;
    background-color: #DAE4FE;
    position: absolute;
    top: 50%;
    right: 150%;
}

.text__betweem::before {
    content: "";
    width: 15px;
    height: 1px;
    background-color: #DAE4FE;
    position: absolute;
    top: 50%;
    left: 150%;
}

.stats__customers {
    background: linear-gradient(#6888ff, #5e80ff);
    padding: 65px 90px 65px 0;
}

@media screen and (max-width: 768px) {
    .stats__customers {
        padding: 45px 90px  45px 0;
    }
}

.stats__users {
    background: linear-gradient(#e9efff, #e0e9ff);
    padding: 65px 0  65px 90px;
}

@media screen and (max-width: 768px) {
    .stats__users {
        padding: 45px 0 45px 90px;
    }
}

.customers__percent {
    font-family: "QuicksandRegular";
    font-size: 48px;
    line-height: 50px;
    color: #FFFFFF;
    margin: 20px 0;
}

.users__count {
    font-family: "QuicksandRegular";
    font-size: 48px;
    line-height: 50px;
    color: #5E80FF;
    margin: 20px 0;
}

.stats__text-left {
    font-family: "QuicksandMedium";
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    max-width: 260px;
}

.stats__text-right {
    font-family: "QuicksandMedium";
    font-size: 18px;
    line-height: 30px;
    color: #5E80FF;
    max-width: 260px;
}

.resources__wrapper {
    background: #F5F8FF;
    padding: 104px 0 204px;
}

.recources__slogan {
    display: inline-block;
    margin-bottom: 90px;
}

@media screen and (max-width: 992px) {
    .recources__slogan {
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 768px) {
    .recources__slogan {
        margin-bottom: 50px;
    }
}

.slider {
    box-shadow: 0px 15px 50px #EFF4FF;
    border: 1px solid #D8E3FE;
    max-width: 960px;
}

.slider__item {
    margin: 0 auto;
    min-height: 395px;
    max-width: 960px;
    background-color: #fff;
}

.slider__item-inner {
    padding: 65px 35px;
}

@media screen and (max-width: 1199px) {
    .slider__item-inner {
        padding: 15px;
    }
}

.slider__collage {
    display: grid;
    grid-template-columns: 267px 126px;
    grid-auto-rows: minmax(126px, auto);
    gap: 13px;
}

@media screen and (max-width: 470px) {
    .slider__collage {
        grid-template-columns: minmax(auto, 267px);
        grid-auto-rows: minmax(100px, 200px);
        gap: 10px;
    }
}

.slider__collage-first {
    grid-area: 1/1/3/2;
    background: linear-gradient(13.46deg, rgba(255, 198, 50, 0.44) 1.89%, rgba(255, 227, 154, 0.93) 1.9%, rgba(255, 159, 90, 0) 68.24%), url(./../images/recources/collage1.png);
    box-shadow: 0px 15px 100px #e5ebf8;
}

@media screen and (max-width: 470px) {
    .slider__collage-first {
        grid-area: 1/1/2/2;
    }
}

.slider__collage-second {
    background: linear-gradient(27.48deg, rgba(255, 53, 53, 0.48) 14.02%, rgba(255, 179, 90, 0) 68%), url(.././images/recources/collage2.png);
    box-shadow: 0px 15px 100px #E5EBF8;
}

.slider__collage-third {
    background: linear-gradient(13.49deg, rgba(53, 170, 255, 0.68) 11.59%, rgba(90, 136, 255, 0) 96.88%), url(.././images/recources//collage3.png);
    box-shadow: 0px 15px 100px #E5EBF8;
}

.slider__collage-first,
.slider__collage-second,
.slider__collage-third {
    background-size: cover;
    border-radius: 5px;
    position: relative;
}

.slider__collage-first::before,
  .slider__collage-second::before,
  .slider__collage-third::before {
    content: "";
    background-image: url(.././images/recources/recourcesSearch.svg);
    width: 65px;
    height: 65px;
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    opacity: 0;
    transition: all 0.5s ease;
}

.slider__collage-first:hover::before,
  .slider__collage-second:hover::before,
  .slider__collage-third:hover::before {
    opacity: 1;
}

.slider__info {
    max-width: 405px;
    margin-left: 67px;
}

@media screen and (max-width: 1199px) {
    .slider__info {
        margin-left: 0;
    }
}

.slider__title {
    font-family: "QuicksandRegular", sans-serif;
    font-size: 36px;
    line-height: 45px;
    color: #3D4F9F;
}

.slider__text {
    font-family: "RobotoRegular", sans-serif;
    font-size: 14px;
    line-height: 27px;
    margin: 32px 0;
    color: #8D96BD;
}

.recources__btn-read {
    width: 115px;
    height: 45px;
}

.recources__btn-add {
    width: 210px;
    height: 45px;
    color: #A6B6DA;
}

.carousel-control-prev-icon {
    background-image: url(.././images/recources/arrowBack.svg);
}

.carousel-control-next-icon {
    background-image: url(.././images/recources/arrowNext.svg);
    right: -75px;
}

.carousel-control-next {
    right: -75px;
}

.carousel-control-prev {
    left: -75px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 23px;
    height: 15px;
}

@media screen and (max-width: 720px) {
    .carousel-control-prev,
  .carousel-control-next {
        display: none;
    }
}

.carousel-indicators {
    bottom: -100px;
}

.carousel-indicators li {
    width: 8px;
    height: 8px;
    background-color: #D1D6E3;
    border-radius: 50%;
    margin-right: 12px;
    margin-left: 0;
    border: none;
}

.carousel-indicators .active {
    background-color: #5283FF;
}

.help {
    padding: 175px 0;
}

@media screen and (max-width: 992px) {
    .help {
        padding: 100px 0;
    }
}

@media screen and (max-width: 768px) {
    .help {
        padding: 70px 0;
    }
}

.title__h2 {
    font-family: "RobotoMedium", sans-serif;
    font-size: 10px;
    color: #3D4F9F;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.help__slogan {
    display: inline-block;
    margin-bottom: 70px;
}

.slogan {
    font-family: "QuicksandMedium", sans-serif;
    font-size: 24px;
    color: #3D4F9F;
    line-height: 30px;
}

.help__card {
    border: none !important;
    border-bottom: 1px solid #D8E3FE !important;
}

.help__card-header {
    background-color: transparent;
    padding: 17px 17px 15px;
    border: none !important;
}

.help__card-title {
    height: 45px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-family: "QuicksandBold", sans-serif;
    color: #495274;
    font-size: 15px;
    letter-spacing: .5px;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

.help__card-btn {
    height: 12px;
    width: 20px;
    background-image: url(../images/arrow-open.svg);
    background-repeat: no-repeat;
    margin-right: 24px;
}

.help__card-btn.collapsed {
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
}

.help__card-btn.collapsed + .help__card-title-text {
    color: #8E96B7;
    font-family: "QuicksandMedium", sans-serif;
}

.help__card-body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 16px 10px 50px 72px;
}

@media screen and (max-width: 992px) {
    .help__card-body {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.help__card-text {
    font-family: "RobotoRegular", sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #8D96BD;
    line-height: 1.9;
    margin-right: 60px;
}

.help__card-body-btn {
    height: 42px;
    min-width: 195px;
    background-color: #E8ECF4;
    font-family: "QuicksandMedium", sans-serif;
    font-size: 13px;
    color: #7382A3;
    border: none;
    margin-top: 5px;
    border-radius: 2px;
}

.help__card-body-btn:focus {
    outline: 1px solid transparent;
}
