@font-face {
    font-family: "RobotoRegular";
    src: url("./../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoMedium";
  src: url("./../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "QuicksandRegular";
  src: url("./../fonts/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "QuicksandMedium";
  src: url("./../fonts/Quicksand-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "QuicksandBold";
  src: url("./../fonts/Quicksand-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSansBold";
  src: url("./../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSansSemiBold";
  src: url("./../fonts/OpenSans-SemiBold.ttf") format("truetype");
}

.about__wrapper {
    background-image: url "./..images/features/bg.jpg";
    padding: 175px 0;
    background-size: cover;
}

.about__info {
    margin: 0 33px;
}

.about__subtitle {
    font-family: "OpenSansBold", sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #4074F8;
    margin: 33px 0 25px;
}

.about__text {
    font-family: "OpenSansSemiBold", sans-serif;
    font-size: 11px;
    line-height: 19px;
    color: #ADB3CB;
    margin-bottom: 33px;
}

.about__buttons {
    margin-top: 92px;
}

.about__bottons-inner {
    padding: 0;
}

.about__btn {
    width: 115px;
    height: 45px;
    border-radius: 2px;
}

.btn {
    font-family: "QuicksandBold";
    font-size: 13px;
    line-height: 16px;
}

.btn--red {
    background-color: #FFD7D7;
    color: #D43F3F;
}

.btn--blue {
    background-color: #D2E1FF;
    color: #3A79FF;
}

.text__betweem {
    position: relative;
    margin: 0 48px;
}

@media screen and (max-width: 400px) {
    .text__betweem {
        margin: 0 30px;
    }
}

.text__betweem::after {
    content: "";
    width: 15px;
    height: 1px;
    background-color: #DAE4FE;
    position: absolute;
    top: 50%;
    right: 150%;
}

.text__betweem::before {
    content: "";
    width: 15px;
    height: 1px;
    background-color: #DAE4FE;
    position: absolute;
    top: 50%;
    left: 150%;
}

.help {
    padding: 175px 0;
}

.title {
    color: #3D4F9F;
    margin-bottom: 68px;
}

.title__text {
    font-family: "RobotoMedium", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.title__slogan {
    font-family: "QuicksandMedium", sans-serif;
    font-size: 24px;
}

.help__card {
    border: none !important;
    border-bottom: 1px solid #D8E3FE !important;
}

.help__card-header {
    background-color: transparent;
    padding: 17px 17px 15px;
    border: none !important;
}

.help__card-title {
    height: 45px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-family: "QuicksandBold", sans-serif;
    color: #495274;
    font-size: 15px;
    letter-spacing: .5px;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

.help__card-btn {
    height: 12px;
    width: 20px;
    background-image: url(../images/arrow-open.svg);
    background-repeat: no-repeat;
    margin-right: 24px;
}

.help__card-btn.collapsed {
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
}

.help__card-btn.collapsed + .help__card-title-text {
    color: #8E96B7;
    font-family: "QuicksandMedium", sans-serif;
}

.help__card-body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 16px 10px 50px 72px;
}

@media screen and (max-width: 992px) {
    .help__card-body {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.help__card-text {
    font-family: "RobotoRegular", sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #8D96BD;
    line-height: 1.9;
    margin-right: 60px;
}

.help__card-body-btn {
    height: 42px;
    min-width: 195px;
    background-color: #E8ECF4;
    font-family: "QuicksandMedium", sans-serif;
    font-size: 13px;
    color: #7382A3;
    border: none;
    margin-top: 5px;
    border-radius: 2px;
}

.help__card-body-btn:focus {
    outline: 1px solid transparent;
}
